@model Time_Sheet_Buddy.Entities.Issue

@section IssueDetailsStyles{ 
    <link rel="stylesheet" href="~/css/IssueDetailsViewStyle.css"/>
}

@{
    ViewData["Title"] = "Details";

    var themaToShow = ViewData["ThemaToShow"] as byte[];

}

<!DOCTYPE html>
<html style="background-image:url(data:image/gif;base64,@(Convert.ToBase64String(themaToShow))">
<head>
    
</head>
<body style="background-image:url(data:image/gif;base64,@(Convert.ToBase64String(themaToShow))">
        <div class="form-container">
            <div class="form-content">
                <h1>Details</h1>
                <h2>Issue @Html.DisplayFor(model => model.Title)</h2>
                <form id="details-form">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label id="durationLbl">Duration: </label>
                        <div id="durationDiv">@Html.DisplayFor(model => model.Duration)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="assigneeLbl">Assignee: </label>
                        <div id="assigneeDiv">@Html.DisplayFor(model => model.Assignee)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="assginedToLbl">Assigned To: </label>
                        <div id="assignedToDiv">@Html.DisplayFor(model => model.AssignedTo)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="dateLvl">Date: </label>
                        <div id="dateDiv">@Html.DisplayFor(model => model.Date)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="stateLbl">State: </label>
                        <div id="stateDiv">@Html.DisplayFor(model => model.State)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="projectLbl">Project: </label>
                        <div id="projectDiv">@Html.DisplayFor(model => model.Project)</div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="descriptionLbl">Description: </label>
                        <div id="descriptionDiv">@Html.DisplayFor(model => model.Description)</div>
                        <span class="text-danger"></span>
                    </div>
                </form>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <div>
                        @Html.ActionLink("Back to List", "ProjectBacklog", "Backlogs", new { proj = Model.Project }, null)
                    </div>
                </div>

            </div>
        </div>
</body>
</html>