@model Time_Sheet_Buddy.Entities.Issue

@{
    ViewData["Title"] = "Details";
}

<style>
    * {
        font-family: "Helvetica",sans-serif;
        box-sizing: border-box;
    }

    body, html {
        min-height: 100%;
        padding: 0;
    }

    body {
        font-size: 16px;
        background: linear-gradient( 145deg, #ffd89b 0%, #19547b 100%) no-repeat fixed;
        display: flex;
        flex-direction: column;
    }

    footer {
        background: white;
    }

    .form-container {
        margin: auto;
        background: white;
        max-width: 45rem;
        width: 90%;
        border-radius: 16px;
    }

    .form-content {
        margin: auto;
        padding: 0.7rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    .form-content input {
        padding: 0.5rem;
        margin: .5rem 0 .5rem 0;
        border: none;
        width: 100%;
        border-bottom: 1px solid #99A2EA;
    }

        .form-content input:focus {
            border: none;
            border-bottom: 1px solid #4E6AD7;
        }

    .form-content h1 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: normal;
    }

    .form-content h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        color: #838592;
    }

    .form-content button {
        max-width: 10rem;
        border-radius: 60px;
        background-color: #54BDD6;
        color: white;
        border: none;
        padding: .5rem 2.5rem;
        margin: 4rem 0 .5rem 0;
    }

    .form-content a {
        margin: .5rem 0 .5rem 0;
        color: rgb(20, 20, 240)
    }

        .form-content a:hover {
            text-decoration: underline;
        }

    #error-message {
        color: red;
    }

    #durationDiv, 
    #assigneeDiv,
    #assignedToDiv,
    #dateDiv,
    #stateDiv,
    #projectDiv,
    #descriptionDiv{
        display: contents;
    }

    @@media only screen and (max-width: 890px) {
        .form-container {
            min-width: 90%;
        }
    }
</style>

@if (User.IsInRole("Administrator"))
{
    <h1>Details</h1>

    <div>
        <h4>Issue</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Assignee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Assignee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssignedTo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssignedTo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

}
else
{
    <div class="form-container">
        <div class="form-content">
            <h1>Details</h1>
            <h2>Issue @Html.DisplayFor(model => model.Title)</h2>
            <form id="details-form">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label id="durationLbl">Duration: </label>
                    <div id="durationDiv">@Html.DisplayFor(model => model.Duration)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="assigneeLbl">Assignee: </label>
                    <div id="assigneeDiv">@Html.DisplayFor(model => model.Assignee)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="assginedToLbl">Assigned To: </label>
                    <div id="assignedToDiv">@Html.DisplayFor(model => model.AssignedTo)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="dateLvl">Date: </label>
                    <div id="dateDiv">@Html.DisplayFor(model => model.Date)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="stateLbl">State: </label>
                    <div id="stateDiv">@Html.DisplayFor(model => model.State)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="projectLbl">Project: </label>
                    <div id="projectDiv">@Html.DisplayFor(model => model.Project)</div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="descriptionLbl">Description: </label>
                    <div id="descriptionDiv">@Html.DisplayFor(model => model.Description)</div>
                    <span class="text-danger"></span>
                </div>
            </form>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <div>
                    @Html.ActionLink("Back to List", "ProjectBacklog", "Backlogs", new { proj = Model.Project }, null)
                </div>
            </div>

        </div>
    </div>
}
