@model Time_Sheet_Buddy.Entities.Ideas

@{
    ViewData["Title"] = "Edit";

    var themaToShow = ViewData["ThemaToShow"] as byte[];
}

<!DOCTYPE html>
<html style="background-image:url(data:image/gif;base64,@(Convert.ToBase64String(themaToShow))">
<head>
    <style>
        * {
            font-family: "Helvetica",sans-serif;
            box-sizing: border-box;
        }

        body, html {
            min-height: 100%;
            padding: 0;
        }

        body {
            font-size: 16px;
            background: linear-gradient( 145deg, #ffd89b 0%, #19547b 100%) no-repeat fixed;
            display: flex;
            flex-direction: column;
        }

        footer {
            background: white;
        }

        .form-container {
            margin: auto;
            background: white;
            max-width: 45rem;
            width: 90%;
            border-radius: 16px;
        }

        .form-content {
            margin: auto;
            padding: 0.7rem;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }

        .links {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
        }

        .form-content input {
            padding: 0.5rem;
            margin: .5rem 0 .5rem 0;
            border: none;
            width: 100%;
            border-bottom: 1px solid #99A2EA;
        }

            .form-content input:focus {
                border: none;
                border-bottom: 1px solid #4E6AD7;
            }

        .form-content h1 {
            margin-top: 0;
            font-size: 2rem;
            font-weight: normal;
        }

        .form-content h2 {
            font-size: 1.5rem;
            font-weight: lighter;
            color: #838592;
        }

        .form-content button {
            max-width: 10rem;
            border-radius: 60px;
            background-color: #54BDD6;
            color: white;
            border: none;
            padding: .5rem 2.5rem;
            margin: 4rem 0 .5rem 0;
        }

        .form-content a {
            margin: .5rem 0 .5rem 0;
            color: rgb(20, 20, 240)
        }

            .form-content a:hover {
                text-decoration: underline;
            }

        #error-message {
            color: red;
        }

        #durationDiv,
        #assigneeDiv,
        #assignedToDiv,
        #dateDiv,
        #stateDiv,
        #projectDiv,
        #descriptionDiv {
            display: contents;
        }

        @@media only screen and (max-width: 890px) {
            .form-container {
                min-width: 90%;
            }
        }
    </style>
</head>
<body style="background-image:url(data:image/gif;base64,@(Convert.ToBase64String(themaToShow))">
    @if (User.IsInRole("Administrator"))
    {
        <h1>Edit</h1>

        <h4>Ideas</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdeaPicture" class="control-label"></label>
                        <input asp-for="IdeaPicture" class="form-control" />
                        <span asp-validation-for="IdeaPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <div class="form-container">
            <div class="form-content">
                <h2>Edit</h2>
                <h4>Idea @Model.Title</h4>
                <div id="details-form">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.IdeaPicture != null)
                    {
                        <div class="form-group">
                            <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.IdeaPicture))">
                        </div>
                    }
                </div>

                <form asp-action="UploadImage"
                      asp-controller="Ideas"
                      asp-route-id="@Model.Id"
                      method="post"
                      enctype="multipart/form-data">
                    <input type="file" id="file1"
                           name="file1"
                           multiple="multiple" />
                    <button type="submit">Upload File(s)</button>
                </form>

                <button id="savedChangesBtn" onclick="addChange()">Save</button>


                <div>
                    @Html.ActionLink("Back to Ideas List", "Index", "Ideas", null)
                </div>
            </div>
        </div>
        <script>
            function addChange() {
                var request = new XMLHttpRequest();

                var titleValue = document.getElementById("Title").value + "";
                var descriptionValue = document.getElementById("Description").value + "";
                //debugger;
                console.log(titleValue);
                console.log(descriptionValue);
                //console.log(docuent.getElementById("Title"));

                var o = new Object();
                o.id = @Model.Id;
                o.title = titleValue;
                o.Description = descriptionValue;
                //o.Project = project;

                //console.log(o.issue_id);
                //console.log(o.newState);
                //console.log(JSON.stringify(o));

                request.open('POST', '/Ideas/EditChange', true);
                request.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                request.setRequestHeader('Content-Length', JSON.stringify(o).length);
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        window.location.href = "/Ideas/Details?id=" + @Model.Id;
                    } else {
                        window.location.href = "/Ideas/Details?id=" + @Model.Id;
                    }
                }
                request.send(JSON.stringify(o));
            }
        </script>

    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>